@if (username() === '') {
  <h1>Enter Name Below!</h1>
}

@else {
  <h1>Hello, {{ username() }}!</h1>
}

<form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
  <label>Enter First Name:</label>
  <input type="text" formControlName="firstName">

  <p>{{ userForm.get('firstName')?.value }}</p>

  <label>Enter Last Name:</label>
  <input type="text" formControlName="lastName">

  <p>{{ userForm.get('lastName')?.value }}</p>

  <label>Enter Email:</label>
  <input type="text" formControlName="email">

  <p>{{ userForm.get('email')?.value }}</p>

  <button type="button" (click)="updateName()">Update Name!</button>
  <button type="button" (click)="resetUserForm()">Reset Name!</button>

  <button type="submit">Submit!</button>

</form>

<div class="user-list">
  <h2>Users</h2>
  @if (noUsers()) {
    <p>There are currently no users!</p>
  }

  @else {
    <ul>
      @for (user of users(); track user) {
        <li>{{ user.firstName }} {{ user.lastName }} | Email: {{ user.email }}</li>
      }
    </ul>
  }

  <button type="button" (click)="dumpUsers()">Delete Users</button>
</div>